* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

body {
  max-width: 100%;
  min-height: 100vh;
}

/* header style  */
header {
  width: 100%;
  height: 15vh;
}

header nav {
  width: 82%;
  height: inherit;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.sign-in {
  border: none;
  background-color: transparent;
  font-size: 14px;
}

.sign-up {
  border: 1px solid #f53855;
  color: #f53855;
  background-color: transparent;
  padding: 10px;
  border-radius: 30px;
  margin-left: 20px;
  font-size: 14px;
}

.nav-mobile,
.nav-links-mobile {
  display: none;
}

/* main {

} */

.container-get-started {
  margin: auto;
  max-width: 82%;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-get-started .content {
  width: 50%;
  height: 40vh;
  margin-right: 10px;
}

.container-get-started .content .las{
  font-size: 50px;
  font-weight: 500;
  margin-top: 12px;
}

.container-get-started .content .provide{
  color: #4F5665;
  line-height: 1.5;
  padding-bottom: 15px;
}

.container-get-started button{
  width: 30%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: #f53855;
  box-shadow: 0px 20px 0 0px #f538541a;
  color: #ffffff;
}

.image img {
  width: 100%;
}

.image-mobile {
  display: none;
}

/* modals  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 20px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
.close:hover {
  font-size: 30px;
  color: #888;
}

form{
  text-align: center;
  border-top: 1px solid #f53855;
  margin-top: 10px;
}


.input-div {
  margin-top: 10px;
}

.text-p {
  font-size: 14px;
  color: #4F5665;
  font-style: oblique;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid rgba(125, 121, 121, 0.285);
  margin-bottom: 20px;
  width: 80%;
  text-align: center;
  font-size: 13.5px;
  font-style: oblique;
}

.password-div {
  display: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.forgot-password a {
  display: none;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #000000;
  color: white;
}

.forgot-password a:hover{
  background-color: rgb(247, 222, 222);
  color: #000000;
}

.terms {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #4F5665;
}

.terms a{
  color: #f53855;
}


.terms-box{
  width: 10%;
}

.btn-sign-up {
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  background-color: #000000;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn-sign-up:hover{
  background-color: rgb(247, 222, 222);
  color: #000000;
}

.grid-container {
  display: grid;
  width: 80%;
  height: 5vh;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box {
  background-color: #eae8e881;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

/* modal ends  */

/* body continues */
.user-count {
  margin: auto;
  margin-top: 20px;
  width: 82%;
  height: 25vh;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 50px 10px 0px rgba(242, 241, 241, 0.50); 
}

.user-count .box-container1,
.box-container2,
.box-container3{
  width: 32%;
  height: 20vh;
  display: flex;
  align-items: center;
}

.inner-box-container{
  margin: auto;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner-box-container p{
  font-size: 20px;
}

.box-container2 .inner-box-container{
  margin: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-count .box-container1{
  border-right: 2px solid #EEEFF2;
}

.user-count .box-container2{
  border-right: 2px solid #EEEFF2;
}

